.search-bar-container {
    width: 80%;
    height: 90px;
    padding: 10px 0px;
}

.search-bar-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#name-input {
    width: 100%;
    height: auto;
    font-size: 24px;
    padding: 5px 20px;
    border-radius: 14px;
    border: 1px solid #E76F51;
}

::placeholder {
    color: #F4A261
}

/* The switch - the box around the slider */
.switch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    color: #E76F51;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F4A261;
  /* background-image: linear-gradient(to bottom right, #f9f9f9, #000000); */
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2A9D8F;
  /* background-image: linear-gradient(to bottom right, #000000, #f9f9f9); */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2A9D8F;
}

input:checked + .slider:before {
  transform: translateX(65px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}